<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Football Forecasters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">FootballForecaster</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home  </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/team">Team </a>           
             </li>
          </ul>
        </div>
      </nav>

      <h2 class="h2-what">What It Is</h3>
        <div class="container-what">
            <p>Football Forecaster is an predicive analytic tool that utilizes college football efficiency stats to determine the outcome of a matchup between a home and away team. A user simply selects two teams and the app will provide a probability of victory outcome. </p>
        </div>

        
      <section class="section section-2">
        <h2 class="h2-algorithm">The Algorithm </h2>
      </section>

      <div class="container-algorithm">
          <div class="row">
              <div class="col-lg-6">
                <p>Our machine learning program utilizes a multivirate non-linear (logistic) regression analysis that has been trained on college football efficency stats from the 2008-2016 season. The algorith intakes the following stats:</p>
                <ul>
                        <li>Offensive net passing yards per attempt</li>
                        <li>Offensive rushing yds per att</li>
                        <li>Offensive interceptions per att</li>
                        <li>Offensive fumbles per play</li>
                        <li>Defensive net passing yds per att</li>
                        <li>Defensive net passing yds per att</li>
                        <li>Defensive rushing yds per att</li>
                        <li>Team penalty yds per play</li>
                        <li>Home field advantage</li>
                </ul>
              </div>
              <div class="col-lg-6">
                    <img src="static/assets/co-table.png" alt="Stu" width="200" height="275" align="right">
              </div>
          </div>
      </div>
        


     
           
            
            
    
        
        
    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>