<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Reusable Donut Chart in D3 v4</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <div id="dropdown-a"></div>
    <div id="dropdown-home"></div>
    <div id="dropdown-b"></div>
    <button onclick="submitButton()">SUBMIT</button>
    <div id="chart"></div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='plot.js') }}"></script>
</body>